<ActionBar title="Cam Test Capture" class="action-bar"> </ActionBar>
<ScrollView>
  <GridLayout rows="250, auto, *">
    <CameraPlus
      height="250"
      debug="true"
      galleryPickerMode="single"
      showFlashIcon="true"
      showToggleIcon="true"
      showCaptureIcon="true"
      showGalleryIcon="true"
      confirmSaveText="CONFIRM!"
      confirmRetakeText="RETAKE!"
      (loaded)="cameraLoadedEvent($event)"
      (imagesSelectedEvent)="imagesSelectedEvent($event)"
      (photoCapturedEvent)="photoCapturedEvent($event)"
      (toggleCameraEvent)="toggleCameraEvent($event)"
    >
      <!-- Overlay -->
      <GridLayout rows="*, auto, *" columns="*, auto, *" *ngIf="showOverlay">
        <GridLayout colSpan="3" class="bg-overlay"></GridLayout>
        <GridLayout row="1" class="bg-overlay"></GridLayout>
        <GridLayout row="1" col="2" class="bg-overlay"></GridLayout>
        <GridLayout row="2" colSpan="3" class="bg-overlay"></GridLayout>
        <Label row="1" col="1" class="overlay-label" text="📷➕" *ngIf="overlayChanged % 3 == 0"></Label>
        <Image
          src="https://d1lfyz5kwt8vu9.cloudfront.net/nativescript-logo.png"
          row="1"
          col="1"
          stretch="aspectFill"
          class="overlay"
          width="20"
          height="20"
          *ngIf="overlayChanged % 3 == 1"
        ></Image>
        <Image
          src="res://nativescript"
          row="1"
          col="1"
          stretch="aspectFill"
          class="overlay"
          *ngIf="overlayChanged % 3 == 2"
        ></Image>
      </GridLayout>
    </CameraPlus>

    <!-- Image Preview -->
    <GridLayout row="1" rows="auto, auto" columns="*, auto, *" *ngIf="imageSource">
      <Label columnSpan="3" textWrap="true" text="Captured Image"></Label>
      <Image row="1" col="1" class="preview-image" stretch="none" [src]="imageSource"></Image>
    </GridLayout>

    <!-- Test Buttons -->
    <GridLayout row="2" rows="auto, auto, auto, auto, auto" columns="*, *">
      <Button text="Record Video" (tap)="recordDemoVideo()" row="0" col="0" class="btn btn-primary"></Button>
      <Button text="Stop Recording" (tap)="stopRecordingDemoVideo()" row="0" col="1" class="btn btn-primary"></Button>
      <Button text="Take Pic" (tap)="takePicFromCam()" row="1" col="0" class="btn btn-primary"></Button>
      <Button text="Toggle Flash" (tap)="toggleFlashOnCam()" row="1" col="1" class="btn btn-primary"></Button>
      <Button text="Toggle Camera" (tap)="toggleTheCamera()" row="2" col="0" class="btn btn-primary"></Button>
      <Button text="Open Library" (tap)="openCamPlusLibrary()" row="2" col="1" class="btn btn-primary"></Button>
      <Button text="Toggle Overlay" (tap)="toggleOverlay()" row="3" col="0" class="btn btn-primary"></Button>
    </GridLayout>
  </GridLayout>
</ScrollView>
